*{
    margin: 1%;
    padding: 0;
    box-sizing: border-box;

    }
    html,body{
    background-color:  #87CEEB;
    font-size: 1.4rem;

    }
    .App{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px; /* Espacio entre elementos */
        display: flex;
        justify-content: center;
        align-items: center; 
        display: block;
       margin-bottom: 10px;
       line-height: 2;   
}
    
    .contenedor-app{
        flex: 1;
        min-width: 250px;
        margin-top: 0px;
        display:flex;
        padding: 20px;
        opacity: 0,5;
        border-radius: 20px; 
        color: rgb(21, 21, 20);
        display: flex;
        justify-content: center;
        align-items: center;  
}
        
    


    .fila{
    height: 70px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(22, 22, 21);
    border-radius: 25px;
    border: 1px solid rgb(95, 90, 90);
    margin: 2px; 
    background-color: blanchedalmond;
    }
    .clima-actual{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin: 25px;
        font-size:14px;
    }
    .temp{
        align-content: center;
        justify-content: center;
        font-size: 3rem;
        color: wheat;
    }
    .imagen{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .tarea-formulario{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }
    .tarea-input{
        width: 350px;
        height: 55px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #f3f0f0;
        opacity: 0.7;
        font-size: 25px;
        margin: 20px 25px 25px 14px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        display: flex;
        padding: 15px 15px 15px 45px;
        background-color:  rgba(255, 255, 255, 0.5);
        opacity: 0,5;
        color: #514848;
    }
    .icono{
        padding: 8px;
        font-size: 40px;
        position: absolute;
        bottom: 0.2 rem;
        color: rgb(17, 17, 18);
        right: 12px;
        cursor: pointer;

    }.icons{
        padding: 8px;
        font-size: 40px;

        bottom: 0.1 rem;
        color:  rgb(88, 103, 217);
        margin-left: 13px;
        cursor: pointer;  
        border-radius: 45 px;
    }
    .container{
        display: flex;
    }
    .maxima{
        width: 80px;
        height: 80px;
        border-radius: 50%; 
    }
    .minima{
        width: 80px;
        height: 80px;
        border-radius: 50%;  
    }
    .mini{
        color:  wheat;  
    }
    .maxi{
        color:  wheat; 
    }
   .container-sarch{
        display: flex;
        justify-content: center; 
        align-items: center;   
   }
   .contenedor-prev{
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;     /* Centra verticalmente */
    height: 100vh;           /* Asegura que el contenedor ocupe el alto de la ventana */
    min-width: 250px;
    margin-top: 0px;
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    opacity: 0,5;
    border-radius: 30px;
    border: 1px solid  rgb(15, 15, 15);
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 auto; 
    
   }
   
   .weather-forecast {
    
    display: block; 
 
    width: 100%;
    flex-wrap: wrap;
  }
  
  .forecast-item {
    display: inline-block; /* Mostrar elementos en línea horizontalmente */
    text-align: center;
    text-align: center;
    padding: 5px;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin: 5px;
    flex: 1;
  }
  
  .day {
    font-weight: bold;
  }
  
  .temperature {
    font-size: 20px;
  }
  
  .rain-probability {
    color: blue;
  }
  